.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.container {
  position: relative;
}

.container2 {
  position: absolute;
  display: flex;
  z-index: 1001;
  flex-direction: column;
}

.inputCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.inputCont:active {
  background: rgba(29, 125, 237, 0.1);
  /* Blue / 100 (Focus Border) */
  border: 2px solid rgba(131, 188, 255, 0.5);
  border-radius: 2px;
}

.arrowDown {
  height: 7px;
  width: 12px;
}

.itemsCont {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  padding: 8px 0 8px 15px;
  height: 40px;
}

.itemCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemCont2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  width: 170px;
}

.itemUse {
  @extend .itemsCont;
  background-color: #f1f8fe;
}

.dropList {
  width: 210px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(116, 137, 155, 0.06), 0px 1px 18px rgba(116, 137, 155, 0.04),
    0px 3px 5px rgba(116, 137, 155, 0.08);
  border-radius: 2px;
}

.dropListCont {
  display: flex;
  flex-direction: column;
}

.image {
  width: 24px;
  height: 24px;
}

.check {
  display: flex;
  width: 16px;
  height: 16px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  padding: 14px 0 8px 17px;
}

.imageSmall {
  width: 16px;
  height: 16px;
}
