@font-face {
  font-family: Golos Regular;
  src: local('golos-text-regular'),
    url('../../assets/fonts/Golos-Text_Regular.ttf') format('opentype');
}

* {
  font-family: Golos Regular, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}


