.navBarContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  @media (max-width: 968px) {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  border-radius: 0 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 20px rgba(63, 66, 75, 0.1);

  @media (max-width: 968px) {
    background-color: white;
    display: flex;
    top: 0;
    left: #{'min(-100%, -300px)'};
    width: 100%;
    height: 100%;
    justify-content: flex-start;

    transition: left 0.5s;
    &.visible {
      display: flex;
      left: 0;
    }
  }
}

.linksContainer {
  display: flex;
  position: relative;
  margin-top: 100px;
  .breadcrumbsContainer {
    .backBtn {
      display: none;
    }

    @media (max-width: 968px) {
      position: absolute;
      top: 0;
      left: -2px;
      background: white;
      .backBtn {
        display: flex;
        margin-left: 30px;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .breadcrumbsContainer {
      width: 100%;
    }

    .breadcrumbList {
      display: flex;
      align-items: center;
      width: 100%;
      height: 72px;
      border-bottom-style: ridge;

      &.breadcrumbListMobile {
        display: none;
      }

      @media (max-width: 968px) {
        display: none;

        &.breadcrumbListMobile {
          &.visible {
            display: flex;
            //width: 300px;
          }
        }
      }
    }

    .breadcrumb {
      @media (max-width: 968px) {
        font-size: 22px;
      }
    }
  }
}

.mobileNav {
  min-height: 60px;
  background: white;

  .logo {
    width: 60px;
    height: 45px;
    object-fit: contain;
    display: block;
  }
}

.selectorCont {
  display: flex;
  width: 100%;
  margin: 10px 20px 0 20px;

  .closeBtnCont {
    margin-left: 88%;
    .closeBtn {
      width: 19px;
    }
  }
}
