.item {
  display: flex;
  margin-top: 20px;
  color: #000;
  p {
    font-size: 22px;
  }
  .alias {
    min-width: 300px;
  }

  .desc {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      min-width: 400px;
      margin-bottom: 5px;
    }
    .description {
      font-size: 12px;
      min-width: 400px;
      color: #577188;
    }
  }

  .chevron {
    width: 16px;
    object-fit: contain;
  }
}

.contactsCont {
  margin-right: 1000px;
  margin-top: 219px;
}

.poiskCont {
  margin-right: 1000px;
}
